.col-lg-4{
    margin-top: 170px !important;
}
h6{
    margin-bottom: 0.5rem !important; 
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
  color: #33211D !important;
}

.container-fluid py-5{
    background-color: white;
}